
/** course-section **/

.course-section{
  position: relative;
  background: #FFFDE7;
}

.course-block-one .inner-box{
  position: relative;
  display: block;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.course-block-one .inner-box .image-box{
  position: relative;
  display: block;
}

.course-block-one .inner-box .image-box .image{
  position: relative;
  display: block;
  overflow: hidden;
}

.course-block-one .inner-box .image-box .image img{
  width: 100%;
  transition: all 500ms ease;
}

.course-block-one .inner-box:hover .image-box .image img{
  transform: scale(1.05);
}

.course-block-one .inner-box .image-box .category{
  position: absolute;
  display: inline-block;
  top: 25px;
  right: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: var(--title-color);
  background: #FFDE2F;
  border-radius: 6px;
  padding: 9px 20px;
  z-index: 1;
}

.course-block-one .inner-box .lower-content{
  position: relative;
  display: block;
  padding: 24px 25px 30px 25px;
  border: 1px solid #D9D9D9;
  background: #fff;
  border-radius: 0px 0px 12px 12px;
  transition: all 500ms ease;
}

.course-block-one .inner-box:hover .lower-content{
  background: #ECFFEA;
  border-color: #ECFFEA;
}

.course-block-one .inner-box .lower-content .author-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}

.course-block-one .inner-box .lower-content .author-info{
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-block-one .inner-box .lower-content .author-info .author-image{
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.course-block-one .inner-box .lower-content .author-info .author-image img{
  width: 100%;
  border-radius: 50%;
}

.course-block-one .inner-box .lower-content .author-info span{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: var(--title-co);
}

.course-block-one .inner-box .lower-content .rating{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #FFC107;
  gap: 5px;
}

.course-block-one .inner-box .lower-content h3{
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 31px;
  padding-bottom: 32px;
  margin-bottom: 24px;
  border-bottom: 1px solid #D9D9D9;
}

.course-block-one .inner-box .lower-content h3 a{
  display: inline-block;
  color: var(--title-color);
}

.course-block-one .inner-box .lower-content h3 a:hover{
  color: var(--theme-color);
}

.course-block-one .inner-box .lower-content .lower-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-block-one .inner-box .lower-content .lower-box .info-list{
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.course-block-one .inner-box .lower-content .lower-box .info-list li{
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.course-block-one .inner-box .lower-content .lower-box .info-list li i{
  font-size: 16px;
  color: var(--title-color);
  font-weight: 400;
}

.course-block-one .inner-box .lower-content .lower-box h2{
  display: block;
  font-size: 28px;
  line-height: 39px;
  color: #228B22;
}

.course-section .sec-title p{
  color: #228B22;
  margin-bottom: 11px;
}

.course-section .sec-title .theme-btn{
  position: absolute;
  right: 0px;
  bottom: 20px;
  background: #16407D;
}


/** rtl-css **/

.rtl .course-section .sec-title .theme-btn{
  right: inherit;
  left: 0px;
}


/** responsive-css **/

@media only screen and (max-width: 1600px){

}

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .course-section .sec-title .theme-btn{
    position: relative;
    bottom: 0px;
    margin-top: 15px;
  }

  .course-section{
    padding: 65px 0px 40px 0px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .course-block-one .inner-box .lower-content .lower-box{
    display: block;
  }
}











































